.main-tecnologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.main-tecnologia .div-tecnologia {
  margin-top: 150px;
  margin-bottom: 20px;
  padding: 50px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.main-tecnologia .div-tecnologia h1 {
  color: rgb(102, 32, 111);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: -50px;
  text-align: center;
}

.main-tecnologia .div-tecnologia p {
  color: rgb(8, 40, 81);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 20px;
  text-align: left;
}

.primary {
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 10px;
}

.main-tecnologia .div-tecnologia h3 {
  color: rgb(102, 32, 111);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

article .o-que-e {
  border: 5px solid rgb(255, 159, 0);
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 10px;
  color: white !important;
  background-color: rgb(8, 40, 81);
}

article .img-p {
  display: flex;
  align-items: center;
}

article .img-p p {
  color: rgb(8, 40, 81);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid rgb(8, 40, 81);
  border-left: 1px solid rgb(8, 40, 81);
  box-shadow: 10px 5px 5px 0 rgba(0, 0, 0, 0.8);
}

article .img-p img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.8);
}
