.div-fundo-carousel {
  height: 700px;
  margin: 20px auto;
  position: relative;
  width: 96%;
}

.div-fundo-carousel .img-fundo-carousel {
  height: 100%;
  width: 100%;
}

.imagem-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.75);
  height: 600px;
  margin: 0 auto;
  max-width: 600px;
}

.carousel {
  bottom: 10px;
  height: 100%;
  padding: 20px 0;
  position: absolute;
  width: 100%;
}

.carousel-control-prev {
  background-color: rgb(102, 32, 111);
  border-radius: 50%;
  height: 60px;
  margin-left: 3%;
  transform: translateY(+340px);
  width: 60px;
}

.carousel-control-prev-icon {
  height: 50px;
  width: 50px;
}

.carousel-control-prev .visually-hidden {
  color: rgba(102, 32, 111, 0);
  margin-left: -40px;
}

.carousel-control-next {
  background-color: rgb(102, 32, 111);
  border-radius: 50%;
  height: 60px;
  margin-right: 3%;
  transform: translateY(+340px);
  width: 60px;
}

.carousel-control-next-icon {
  height: 50px;
  width: 50px;
}

.carousel-control-next .visually-hidden {
  color: rgba(102, 32, 111, 0);
  margin-left: -40px;
}

.carousel-indicators {
  display: flex;
  height: 20px;
  justify-content: center;
}

.carousel-indicators button {
  background-color: rgb(255, 159, 0);
  border: none;
  border-radius: 50%;
  height: 20px;
  margin: 0 5px;
  width: 20px;
}

.carousel-indicators .active {
  background-color: white;
  height: 20px;
  margin: 0 5px;
  width: 20px;
}
