footer {
  background-color: #66206f;
  width: 100%;
}

div.NandoDev {
  color: white;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
}

.icones-ul-li-a {
  color: white;
  font-size: 20px;
  padding-top: 20px;
  text-decoration: none;
  width: 100%;
}

.ul-icones {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  width: 98%;
}

.li-icones {
  margin-bottom: 10px;
  padding: 10px;
}

.a-icones {
  color: white;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}

.a-icones small {
  margin-left: 5px;
}

.a-icones:hover {
  color: #ff9f00;
}
