.formulario-contato {
  background-color: #f6f6f6;
  height: 100%;
  margin-bottom: 150px;
  padding: 20px 0;
  width: 100%;
}

.formulario-contato-form {
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 0 auto;
  margin-bottom: -140px;
  margin-top: 20px;
  padding: 20px 2%;
  width: 50%;
}

.chamada-formulario-contato {
  color: gray;
  margin-top: 110px;
  text-align: center;
}

.formulario-contato-form input {
  border: 1px solid rgb(153, 152, 152);
  border-radius: 2px;
  margin-bottom: 30px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.formulario-contato-form label {
  color: gray;
  font-size: 20px;
  margin-bottom: 2px;
}

.carinha-sorrindo {
  height: 50px;
  width: 50px;
}

.formulario-contato-form textarea {
  border-radius: 2px;
  margin-top: 20px;
  outline: none;
  padding-left: 10px;
  padding-top: 5px;
  width: 100%;
}

.formulario-contato-form .estado {
  margin-left: 10px;
}

.formulario-contato-form input[ name = 'estado' ] {
  margin-left: 10px;
  width: 80px;
}

.formulario-contato-form input[ type = 'date' ] {
  margin: 10px;
  width: 218px;
}

label.mensagem-text-area {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.botao-formulario-contato {
  border: none;
  margin-top: 20px;
  transition: 0.5s;
}

.botao-formulario-contato:hover {
  background-color: #1cbd41;
  font-size: 16px;
  transition-timing-function: ease-in-out;
}

.formulario-contato-form input[ type = 'text' ]:hover {
  background-color: #f4eff4;
}

.formulario-contato-form input[ type = 'email' ]:hover {
  background-color: #f4eff4;
}

.formulario-contato-form input[ type = 'date' ]:hover {
  background-color: #f4eff4;
}

.formulario-contato-form textarea:hover {
  background-color: #f4eff4;
}
