header {
  background-color: #66206f;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.mais-opcoes-link {
  color: rgb(102, 32, 111);
  display: flex;
  flex-direction: column;
  font-weight: 200;
  line-height: 2;
  margin-left: 1rem;
}

.mais-opcoes-link a {
  color: #66206f;
  text-decoration: none;
}

.mais-opcoes-link a:hover {
  color: #ff9f00;
}

.form-pesquisar {
  background-color: #f2ecf2;
  border: none;
  border-radius: 5px;
  color: #66206f;
  font-size: 18px;
  height: 35px;
  padding: 0 20px;
  width: 50%;
}

.form-pesquisar:focus {
  outline: none;
}

.form-pesquisar:hover {
  background-color: #ded2bd;
}

/* menu de pesquisa */
.form-inline .menu {
  background-color: #f2ecf2;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.75);
  display: none;
  height: 300px;
  list-style: none;
  overflow-y: auto;
  position: fixed;
  top: 90px;
  width: 180px;
  z-index: 1;
}

.form-inline .menu li {
  padding: 5px 20px;
  position: relative;
  width: 100%;
}

.form-inline .menu li a {
  color: #66206f;
  font-size: 18px;
  text-decoration: none;
}

.form-inline .menu li a:hover {
  color: #ff9f00;
}
