.success {
  align-items: center;
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 700;
  height: 100vh;
  justify-content: center;
}

.success h1 {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.success p {
  margin-bottom: 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.success a {
  margin-bottom: 20px;
  text-decoration: none;
}

.success a button {
  background-color: #0e289b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 10px 20px;
}

.success a button:hover {
  background-color: #002fff;
  color: white;
}

.success a button:active {
  box-shadow: 3px 3px 3px 3px black;
  scale: 0.95;
}
