body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New,
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body , html {
  background-color: white;
  font-family: Roboto, sans-serif;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.navbar-toggler {
  display: none;
}

.botao-menu-mobile {
  display: none;
}

.divisoria-projects {
  color: #212529;
  font-weight: 400;
  text-align: center;
}

.divisoria-projects h1 {
  font-size: 2rem;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.76);
}

/* media screen */

@media screen and ( max-width : 1000px ) {

  .formulario-contato-form {
    width: 92%;
  }

  div.modal {
    width: 40%;
  }
}

@media screen and ( max-width : 991px ) {

  .botao-menu-mobile {
    background-color: rgb(255, 159, 0);
    border: none;
    border-radius: 5px;
    display: block;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
    width: 60px;
  }

  .span-menu-mobile {
    color: rgb(102, 32, 111);
  }

  .botao-menu-mobile:hover {
    background-color: rgb(245, 179, 74);
  }

  .botao-menu-mobile:active {
    box-shadow: 3px 3px 3px 3px black;
    scale: 0.95;
  }

  .botao-menu-mobile:focus {
    outline: none;
  }

  .collapse .navbar-nav .container-fluid {
    margin-bottom: 50px;
    text-align: center;
    width: 120px;
  }

  .collapse .navbar-nav .nav-item {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .collapse .navbar-nav .nav-item a {
    width: 100px;
  }

  .dropdown-menu {
    margin-right: 30%;
    width: 120px;
  }

  .form-inline {
    margin: 20px auto;
  }

  .form-inline ul {
    margin-top: 250px;
  }
}

@media screen and ( max-width : 900px ) {

  form.formulario-contato-form {
    width: 70%;
  }

  form.form-inline {
    display: block;
    width: 400px;
  }

  div.modal {
    width: 50%;
  }

  .form-inline ul {
    margin-left: 52px;
    margin-top: 250px;
  }

  .main-tecnologia {
    height: 100%;
    width: 100%;
  }

  .div-tecnologia {
    background-color: white;
    height: 100%;
    width: 100%;
  }

  .div-tecnologia .primary article .img-p {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .primary article .img-p p {
    border-right: 1px solid black;
    box-shadow: none;
  }
}

@media screen and ( max-width : 768px ) {

  .imagem-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.75);
    height: 400px;
    margin: 150px auto;
    max-width: 400px;
  }

  div.politica-privacidade div.privacidade-text {
    font-size: 20px;
    min-width: 340px;
  }

  div.divisoria h1 {
    font-size: 23px;
  }

  div.politica-privacidade div.privacidade-text h1 {
    border-bottom: 1px solid black;
    font-size: 25px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.76);
    width: 250px;
  }

  .div-tecnologia section.primary {
    padding: none;
    width: 100%;
  }

  .div-tecnologia .primary article {
    padding: none;
    width: 100%;
  }

  .card-title-sobre {
    font-size: 20px;
  }

  .sobre-mim {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 92%;
  }

  .sobre-mim .row {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .sobre-mim .row .col {
    margin: 10px auto;
    width: 90%;
  }

  div.card-title {
    font-size: 25px;
    margin-left: 5%;
    margin-top: 150px;
    width: 90%;
  }

  form.form-inline {
    display: block;
    width: 400px;
  }

  div.div-card-texto {
    font-size: 15px;
    width: 400px;
  }

  h1.widget-title {
    font-size: 22px;
  }

  p.conect-mensagem {
    font-size: 14px;
  }

  div.quadradinhos-imagem-texto {
    height: 100%;
    margin: 20px auto;
    width: 90%;
  }

  .formulario-contato-form input [ type = 'date' ] {
    width: 35%;
  }

  img.imagem-home-principal {
    height: 510px;
    margin-top: 0;
  }
}

@media screen and ( max-width : 575px ) {

  .imagem-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.75);
    height: 300px;
    margin: 200px auto;
    max-width: 300px;
  }

  .main-tecnologia {
    padding: 0;
    width: 100%;
  }

  .main-tecnologia .div-tecnologia {
    width: 100%;
  }

  .div-tecnologia section .primary {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: none;
    width: 100%;
  }

  .div-tecnologia .primary article {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .div-tecnologia .primary article p {
    min-width: 300px;
  }

  .div-tecnologia .primary article div.img-p {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .primary article div.img-p img {
    min-width: 300px;
  }

  .sobre-mim {
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 92%;
  }

  .sobre-mim .row {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .sobre-mim .row .col {
    margin: 10px auto;
    width: 90%;
  }

  div.modal {
    width: 80%;
  }

  .titulo-modelo-site {
    font-size: 20px;
  }

  .divisoria h1 {
    font-size: 20px;
  }

  .form-inline .btn {
    margin-left: 10px;
  }

  .quadradinhos-imagem-texto {
    margin: 2px auto;
    margin-bottom: -40px;
  }
}

@media screen and ( max-width : 500px ) {

  div.politica-privacidade div.privacidade-text {
    font-size: 14px;
    min-width: 340px;
  }

  .divisoria-projects h1 {
    font-size: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.76);
  }

  div.divisoria h1 {
    font-size: 15px;
  }

  .main-tecnologia .div-tecnologia h1 {
    font-size: 25px;
    margin-top: 1px;
  }

  div.politica-privacidade div.privacidade-text h1 {
    border-bottom: 1px solid black;
    font-size: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.76);
    width: 200px;
  }

  .main-tecnologia .div-tecnologia {
    padding: 0;
  }

  .main-tecnologia .div-tecnologia .section-texto {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .main-tecnologia .div-tecnologia .section-texto h3 {
    font-size: 25px;
    min-width: 300px;
  }

  .main-tecnologia .div-tecnologia .section-texto p {
    font-size: 18px;
    min-width: 300px;
  }

  header {
    height: 100px;
    width: 100%;
  }

  .navbar a img {
    height: 80px;
    width: 100px;
  }

  .navbar .collapse {
    background-color: rgb(102, 32, 111);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    margin-top: 10px;
    width: 100%;
    z-index: 9999;
  }

  div.divisoria-home {
    height: 40px;
    margin-top: -40px;
    text-shadow: 3px 3px 3px black;
  }

  .card-body {
    width: 100%;
  }

  .card-body iframe {
    margin-top: 20px;
  }

  .card-text {
    font-size: 12px;
  }

  .space-separator {
    height: 60px;
  }

  .titulo-modelo-site {
    font-size: 17px;
  }

  .formulario-contato {
    max-height: 550px;
    width: 100%;
  }

  h1.chamada-formulario-contato {
    font-size: 25px;
    margin-top: 50px;
  }

  div.div-card-texto {
    font-size: 15px;
    margin-top: 20px;
    width: 100%;
  }

  div.div-card-texto-sobre {
    font-size: 15px;
  }

  strong em {
    font-size: 15px;
  }


  h5.card-title em {
    font-size: 25px;
  }

  small.small-developer {
    font-size: 20px;
  }

  strong.strong-developer {
    font-size: 20px;
  }

  img.botao-menu-mobile {
    height: 40px;
    width: 100px;
  }

  img.imagem-home-principal {
    height: 450px;
    margin-top: 0;
  }

  b {
    color: #66206f;
  }

  strong.um-pouco-sobre-mim {
    color: #66206f;
  }

  button.botao-titulo-card {
    font-size: 10px;
  }

  div.divisoria {
    margin-bottom: 10px;
    margin-top: -10px;
    width: 90%;
  }

  h1.widget-title {
    font-size: 18px;
  }

  .div-fundo-carousel {
    height: 700px;
    margin: 20px auto;
    position: relative;
    width: 96%;
  }

  .div-fundo-carousel .img-fundo-carousel {
    height: 100%;
    width: 100%;
  }

  .imagem-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.75);
    height: 600px;
    margin: 0 auto;
    max-width: 600px;
  }

  .carousel {
    bottom: 10px;
    height: 100%;
    padding: 20px 0;
    position: absolute;
    width: 100%;
  }

  .carousel-control-prev {
    background-color: rgb(102, 32, 111);
    border-radius: 50%;
    height: 50px;
    margin-left: 3%;
    transform: translateY(+340px);
    width: 50px;
  }

  .carousel-control-prev-icon {
    height: 30px;
    width: 30px;
  }

  .carousel-control-prev .visually-hidden {
    color: rgba(102, 32, 111, 0);
    margin-left: -40px;
  }

  .carousel-control-next {
    background-color: rgb(102, 32, 111);
    border-radius: 50%;
    height: 50px;
    margin-right: 3%;
    transform: translateY(+340px);
    width: 50px;
  }

  .carousel-control-next-icon {
    height: 30px;
    width: 30px;
  }

  .carousel-control-next .visually-hidden {
    color: rgba(102, 32, 111, 0);
    margin-left: -40px;
  }

  p.conect-mensagem {
    font-size: 12px;
  }

  form.formulario-contato-form label {
    font-size: 12px;
  }

  form.formulario-contato-form input {
    border: 1px solid rgb(189, 187, 187);
    border-radius: 1px;
    font-size: 15px;
    height: 15px;
    margin-bottom: 5px;
  }

  form.formulario-contato-form input[ type = 'date' ] {
    display: block;
    font-size: 15px;
  }

  form.formulario-contato-form input[ id = 'estado' ] {
    display: block;
    font-size: 15px;
  }

  form.formulario-contato-form label.estado {
    margin-left: 0;
  }

  .form-inline .btn {
    font-size: 15px;
    height: 40px;
  }

  .formulario-contato-form textarea {
    border: 1px solid rgb(189, 187, 187);
    border-radius: 1px;
    font-size: 15px;
    height: 100px;
  }

  a.a-icones {
    font-size: 15px;
  }

  svg {
    height: 12px;
    width: 12px;
  }

  span.spanNandoDev {
    font-size: 15px;
  }

  a.controles-troca-foto-carousel {
    height: 30px;
    margin-top: 41%;
    width: 30px;
  }

  .modal {
    display: block;
    height: 60%;
    width: 200px;
  }

  button.close {
    display: block;
    height: 100%;
    margin-top: 0;
    right: 0;
    width: 15%;
  }

  button.close p a {
    font-size: 30px;
    left: -10px;
    top: 0;
  }

  p.modal-text {
    font-size: 20px;
  }

  .container .row .quadradinhos-imagem-texto {
    width: 100%;
  }

  .divisoria-projects {
    border: 1px solid gray;
    color: #212529;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 50px;
    text-align: center;
  }
}

@media screen and ( max-width : 400px ) {

  form.form-inline {
    display: block;
    width: 300px;
  }

  div.politica-privacidade div.privacidade-text {
    font-size: 14px;
    min-width: 340px;
  }

  div.politica-privacidade div.privacidade-text h1 {
    border-bottom: 1px solid black;
    font-size: 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.76);
    width: 70%;
  }
}
